.login-container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  padding: 10px 20px;
  background: #370dac;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}


.wrapper {
  display: flex;
}


.sidebar {
  width: 250px;
  background: #3a4b7e;
  color: white;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 10px;
}


.sidebar ul {
  list-style: none;
  padding: 0;
}



.sidebar li {
  margin: 10px 0;
  cursor: pointer;
}

.submenu {
  margin-left: 20px;
  display: none;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.status-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.status-box {
  width: 30%;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  animation: blink 1.5s infinite;
}

.status-red {
  background: red;
  color: white;
}

.status-yellow {
  background: yellow;
  color: black;
}

.status-green {
  background: green;
  color: white;
  animation: none;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.details-box {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}

.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  position: static;
  border: #e96010;
}

label {
  display: block;
  margin-top: 15px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}




body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 12px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  height: 20%;
  border-radius: 30%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box put usernam and password*/
.modal-content {
  background-color: #3c5250a1;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/* ไฟติดกระพริบแจ้งซ่อม สีแดง*/
@keyframes blink-red {
  0% { background-color: #ff4d4d; }
  50% { background-color: #fff; }
  100% { background-color: #ff4d4d; }
}

.blink-red {
  animation: blink-red 1s infinite;
}

/* ไฟติดกระพริบกำลังดำเนินการ สีเหลือง*/
@keyframes blink-yellow {
  0% { background-color: #ffe066; }
  50% { background-color: #fff; }
  100% { background-color: #ffe066; }
}

.blink-yellow {
  animation: blink-yellow 1s infinite;
}

